:root {
  --Primary-Color: #36454f;
  --Secondary-Color: #ffffff;
  --Accent-Color: #c88141;
  --Heading-H1-Font-Family: Ultra;
  --Body-Text: Lato;
  --Padding: 0.5rem;
  --Brand-Name-Font-Size: 1.25rem;
  --Body-Font-Size: 0.875rem;
  --Call-To-Action-Text-font-size: 1rem;
  --Font-Weight-Bold: bold;
  --Font-Weight-Medium: 500;
  --Font-Weight-Regular: 400;
  --bar-width: 26px;
  --bar-height: 4px;
  --burger-gap: 4px;
  --burger-height: calc(var(--burger-height) * 3 + var(--burger-gap) * 2);
  --mobile-heading: 2.625rem;
  --desktop-heading: 3.3125rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--Primary-Color);
  overflow-y: hidden;
}

@media only screen and (max-width: 767px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Secondary-Color);
    position: relative;
    overflow-x: clip;
  }

  .main-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    text-decoration: none;
  }

  .main-header .logo img {
    width: 30px;
  }

  .main-header .logo span {
    font-size: var(--Brand-Name-Font-Size);
    font-family: var(--Heading-H1-Font-Family);
    line-height: 1.25rem;
    font-size: 1.25rem;
    text-align: center;
    color: #c88141;
  }

  .main-header .main-nav .side-nav-toggle {
    display: flex;
    flex-direction: column;
    gap: var(--burger-gap);
    width: max-content;
    --x-width: calc(var(--burger-height) * 1.41421356237);
  }

  .main-header .main-nav .side-nav-toggle::before,
  .main-header .main-nav .side-nav-toggle::after,
  .main-header .main-nav .side-nav-toggle input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--Primary-Color);
    border-radius: 9999px;
    transition: all ease-in-out 0.5s;
    transform-origin: left center;
  }

  .main-header .main-nav .side-nav-toggle input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .main-header .main-nav .side-nav-toggle input:checked {
    opacity: 0;
  }

  .main-header .main-nav .side-nav-toggle:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    transform: translate(-1px, -1px);
  }

  .main-header .main-nav .side-nav-toggle:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    transform: translate(-1px, 1px);
  }

  .main-header .main-nav .side-nav-toggle:has(input:checked) + .main-nav__list {
    right: 0;
    opacity: 1;
  }

  .main-header .main-nav .main-nav__list {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Secondary-Color);
    gap: 1rem;
    right: -100%;
    left: auto;
    opacity: 0;
    z-index: 1;
    transform: none;
    transition: all ease-in-out 0.5s;
  }

  .main-header .main-nav .main-nav__list li {
    padding: var(--Padding);
  }

  .main-header .main-nav .main-nav__list li a {
    font-size: var(--Body-Text);
    text-align: center;
    font-weight: var(--Font-Weight-Medium);
    text-decoration: none;
    color: #36454f;
    line-height: 1.25rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  main .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 49px;
    position: relative;
    overflow-x: clip;
  }

  main .landing-page .background-image {
    width: 100%;
    height: 319px;
    background-image: url(../img/landing-page-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: imageSlideIn 0.6s ease-in 0.9s forwards;
    transform: translateX(400px);
    opacity: 0;
  }

  main .landing-page header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    animation: heroSlideIn 1s ease-in 0.5s forwards;
    transform: translateX(-400px);
    opacity: 0;
  }

  main .landing-page header h1 {
    color: var(--Secondary-Color);
    font-family: var(--Heading-H1-Font-Family);
    line-height: 42px;
    font-size: var(--mobile-heading);
    text-align: center;
  }

  main .landing-page header p {
    color: var(--Secondary-Color);
    font-size: var(--Body-Font-Size);
    font-family: var(--Body-Text);
    line-height: 20px;
    text-align: center;
  }

  main .landing-page header button {
    background-color: var(--Accent-Color);
    border: none;
    text-align: center;
    font-size: var(--Call-To-Action-Text-font-size);
    font-family: var(--Body-Text);
    font-weight: var(--Font-Weight-Bold);
    color: var(--Secondary-Color);
    padding: var(--Padding);
  }

  @keyframes imageSlideIn {
    0% {
      transform: translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes heroSlideIn {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Secondary-Color);
    position: relative;
    overflow-x: clip;
  }

  .main-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    text-decoration: none;
  }

  .main-header .logo img {
    width: 30px;
  }

  .main-header .logo span {
    font-size: var(--Brand-Name-Font-Size);
    font-family: var(--Heading-H1-Font-Family);
    line-height: 1.25rem;
    font-size: 1.25rem;
    text-align: center;
    color: #c88141;
  }

  .main-header .main-nav .side-nav-toggle {
    display: flex;
    flex-direction: column;
    gap: var(--burger-gap);
    width: max-content;
    --x-width: calc(var(--burger-height) * 1.41421356237);
  }

  .main-header .main-nav .side-nav-toggle::before,
  .main-header .main-nav .side-nav-toggle::after,
  .main-header .main-nav .side-nav-toggle input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--Primary-Color);
    border-radius: 9999px;
    transition: all ease-in-out 0.5s;
    transform-origin: left center;
  }

  .main-header .main-nav .side-nav-toggle input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .main-header .main-nav .side-nav-toggle input:checked {
    opacity: 0;
  }

  .main-header .main-nav .side-nav-toggle:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    transform: translate(-1px, -1px);
  }

  .main-header .main-nav .side-nav-toggle:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    transform: translate(-1px, 1px);
  }

  .main-header .main-nav .side-nav-toggle:has(input:checked) + .main-nav__list {
    transform: translateX(0);
    opacity: 1;
  }

  .main-header .main-nav .main-nav__list {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Secondary-Color);
    gap: 1rem;
    right: 0;
    left: 0;
    transform: translateX(500%);
    opacity: 0;
    z-index: 1;
    transition: all ease-in-out 0.5s;
  }

  .main-header .main-nav .main-nav__list li {
    padding: var(--Padding);
  }

  .main-header .main-nav .main-nav__list li a {
    font-size: var(--Body-Text);
    text-align: center;
    font-weight: var(--Font-Weight-Medium);
    text-decoration: none;
    color: #36454f;
    line-height: 1.25rem;
    transition: all ease-in 0.3s;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  main .landing-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main .landing-page .background-image {
    width: 538px;
    height: 512px;
    background-image: url(../img/landing-page-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: imageSlideIn 0.6s ease-in 0.9s forwards;
    transform: translateX(1000px);
    opacity: 0;
  }

  main .landing-page header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 457px;
    animation: heroSlideIn 1s ease-in 0.5s forwards;
    transform: translateX(-1000px);
    opacity: 0;
  }

  main .landing-page header h1 {
    color: var(--Secondary-Color);
    font-family: var(--Heading-H1-Font-Family);
    line-height: 42px;
    font-size: var(--mobile-heading);
  }

  main .landing-page header p {
    color: var(--Secondary-Color);
    font-size: var(--Body-Font-Size);
    font-family: var(--Body-Text);
    line-height: 20px;
  }

  main .landing-page header button {
    background-color: var(--Accent-Color);
    border: none;
    text-align: center;
    font-size: var(--Call-To-Action-Text-font-size);
    font-family: var(--Body-Text);
    font-weight: var(--Font-Weight-Bold);
    color: var(--Secondary-Color);
    padding: var(--Padding);
    align-self: flex-start;
    transition: all ease-in 0.3s;
    position: relative;
  }

  @keyframes imageSlideIn {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes heroSlideIn {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .main-header .main-nav {
    position: relative;
    width: 320px;
  }

  .main-header .main-nav .side-nav-toggle {
    display: none;
  }

  .main-header .main-nav .main-nav__list {
    position: static;
    top: 0px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
  }

  .main-header .main-nav .main-nav__list li a:hover {
    color: var(--Accent-Color);
    font-weight: var(--Font-Weight-Bold);
  }

  main .landing-page {
    justify-content: space-between;
  }

  main .landing-page .background-image {
    width: 576px;
    height: 516px;
  }

  main .landing-page header {
    width: 500px;
  }

  main .landing-page header h1 {
    line-height: 53px;
    font-size: var(--desktop-heading);
  }

  main .landing-page header button::before,
  main .landing-page header button::after {
    content: "";
    position: absolute;
    background-color: var(--Accent-Color);
    transition: all ease-in 0.3s;
  }

  main .landing-page header button::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
  }

  main .landing-page header button::after {
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
  }

  main .landing-page header button:hover::before {
    width: 100%;
  }

  main .landing-page header button:hover::after {
    height: 100%;
  }

  main .landing-page header button:hover {
    background-color: var(--Primary-Color);
    box-shadow: 0 12px 12px rgba(255, 255, 255, 0.5);
  }
}
